* {
    box-sizing: border-box;}

body {
    font-family: 'Roboto Slab', serif;;
}

h1 {
    font-size: 42px;
    text-align: center;
}

fieldset {
    border: none;
    box-shadow: none;
    margin: auto;
}

legend {
   border: none;
   font-size: 20px;
   margin: auto;   
}

.create-bookmark {
    border: solid gray 2px;
    padding: 10px;
    box-shadow: none;   
    margin: auto;
}

.create-bookmark > div {
    margin: auto;
    width: 20%;
}

.container {    
    margin: 0 auto;
    display: grid;    
    grid-template-rows: auto auto auto auto auto;   
    grid-row-gap: 10px;
}

.container-item {
    text-align: center;
}

.item-one {
    grid-column: 1;
    grid-row: 1;
}

.item-two {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
}

.item-two.a, .item-two.a, .item-two.c {
    padding: 5px;
    
}

#addBookmark-button {
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
}

#ratingMin, .filterRating {
    font-size: 20px;
}

.item-three {    
    grid-column: 1;
    grid-row: 3;
}

.item-four {
    grid-column: 1;
    grid-row: 4;
    font-size: 18px;
}

.item-three, .item-four {
    padding: 10px 8px 5px;
}

.item-five {
    grid-column: 1;
    grid-row: 5;
}

.hidden{
    display: none;
}

ul {
    list-style: none;            
}

li {
    text-align: center;
    width: 75%;
    margin: 20px auto;
    padding: 0px 0px;
}

button, input[type="text"], textarea[type="text"] {
    padding: 5px;  
}

input[type="text"], textarea[type="text"]{
    color: rgb(70, 67, 67);
    border: gray solid 1px;
}

input {
    margin: 3px;
    padding: 2px;   
}

input:focus, textarea:focus, select:focus, option:focus{
    color: rgb(46, 44, 44);
    outline-color: rgb(101, 101, 211);
}

#description {
    padding: 10px 5px;
    margin-top: 10px;
}
  
button:hover, button:focus {
    cursor: pointer;
}

.bookmark-element {
    display: block;     
    background-color: lightblue;  
    font-style: bold;    
    border: solid 3px navy;
    border-radius: 10px;  
    margin-bottom: 15px;
    text-align: center;  
  }

  .bookmark-element-title {
    color: navy; 
    font-size: 30px;      

  }
  .button-label {    
    font-size: 20px;
    padding: 10px;       
  }

  .bookmark-buttons {
      margin: 10px;
  }

.error-content {    
    /* right: 300px; */
    border: 3px solid rgb(163, 25, 25);
    background-color: rgb(226, 21, 21);
    font-weight: bold;
    color: white;
    font-size: 20px;       
  }
  
  .error-content p {
    margin-top: 1px;
    padding: 15px;
  }
  
  .error-content button {
    font-size: 6pt;
    background-color: rgb(163, 25, 25);
    color: white;
    position: relative;    
    left: 45%;

  }

  @media screen and (max-width: 400px){
    .create-bookmark {
        max-width: 350px;
        border: solid gray 2px;
        padding: 10px;
        box-shadow: none;   
        margin: auto;
        text-align: center;
    }

    .input {
      width: 75%;     
    }

    textarea {
        width: 80%;
    }
  }

  @media screen and (min-width: 800px) {
    .container {
        width: 80%;        
        margin: 0 autopx;
        display: grid;        
        grid-template-rows: auto auto auto auto auto;   
        grid-row-gap: 10px;
    }
    
    h1 {
        font-size: 50px;
    }

    .item-one {
        grid-column: 1;
        grid-row: 2;
    }    
    .item-two {
        grid-column: 1;
        grid-row: 3;
    }
    .item-three {    
        grid-column: 1;
        grid-row: 4;        
    }    
    .item-four {
        grid-column: 1;
        grid-row: 5;
        font-size: 25px;
    }    
    .item-five {
        grid-column: 1;
        grid-row: 6;
    }
    
    .item-six {
        grid-column: 1;
        grid-row: 1;
        width: 50%;
        margin: auto;        
    }

    #addBookmark-button {
        padding: 15px;
        font-weight: bold;
        font-size: 22px;
    }

    .create-bookmark {
        width: 80%;
    } 
} 

@media screen and (min-width: 1500px) {
    .create-bookmark {
        width: 50%;
    }  
}


  




 



 


