* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    /* display: flex; */
    max-width: 600px;
    margin: 0 auto;
}
.hidden{
    display: none;
}

ul {
    list-style: none;
}

button, input[type="text"] {

    padding: 5px;
  
  }  
  
button:hover {

    cursor: pointer;

}

.bookmark-element {

    display: block;  
    color: black;  
    font-style: italic;  
    font-size: 20px;  
    margin-bottom: 15px;
  
  }
  section {
      position: relative;
      margin-top: 50px;
  }

  .create-bookmark {
      
  }

  .minRating-container {
      display: inline-block;
      

  }


