* {
    box-sizing: border-box;}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;   
}

.hidden{
    display: none;
}


ul {
    list-style: none;
}

button, input[type="text"] {
    padding: 5px;
  
}

input {
    margin: 3px;
}
  
button:hover {

    cursor: pointer;

}

.bookmark-element {

    display: block;     
    background-color: lightblue;  
    font-style: bold;    
    border: solid 3px navy;
    border-radius: 3px;  
    margin-bottom: 15px;
    text-align: center;  
  }

  .bookmark-element-title {
    color: navy; 
    font-size: 30px;      

  }
  .button-label {    
    font-size: 20px;
    padding: 10px;       
  }

  .bookmark-buttons {
      margin: 10px;
  }


  section {
      position: relative;
      margin-top: 50px;
  }

  /* .create-bookmark {
      /* display: flex;
      flex-direction: row;
      justify-content: space-evenly; 
      
  } 

*/

.error-content {
    position: fixed;
    top: 15px;
    right: 300px;
    border: 2px solid red;
    background-color: lightsalmon;
  }
  
  .error-content p {
    margin-top: 1px;
    padding: 15px;
  }
  
  .error-content button {
    font-size: 6pt;
    background-color: red;
    color: white;
    position: relative;
    left: 92%;
  }

 


